*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/schemas
app/build
/.idea
.kotlin
/app/release
keystore
/app/prod
/app/dev
/data/schemas/*
/htmlReport
